body{
  font-family: "Arial", sans-serif;
}

a.title{
  color: #FFFFFF;
  font-size: 1.7em;
  font-weight: 200;
}

a.title:hover{
  text-decoration: none;
  color: #ec1153;
}

header{
  padding: 15px 0;
  margin-bottom: 10px;
  background-color: #424242;
  color: #FFFFFF;
}

.box{
  float: left;
  width: 48%;
  margin: 1%;
}

.is-selected{
  background-color: #ec1153;
}

.section{
  width: 100%;
}

h3.job-title{
    font-family: "Arial", sans-serif;
    font-weight: 200;
    padding: 10px;
}

h4.sub-title{
    color: #FFFFFF;
}

p.description{
    color: #FFFFFF;
}

.prediction{
    background-color: #333333;
    padding: 10px;
}

.prediction > #result, #acuracy{
    color: #FFFFFF;
    text-decoration: #FFFFFF;
}