@import url('https://fonts.googleapis.com/css?family=Ubuntu:300,400,700');

body{
    font-family: "Ubuntu", sans-serif;
}

a.title{
    color: #FFFFFF;
    font-size: 1.7em;
    font-weight: 200;
}

a.title:hover{
    text-decoration: none;
    color: #ec1153;
}

header{
    padding: 15px 0;
    margin-bottom: 10px;
    background-color: #424242;
    color: #FFFFFF;
}

.box{
    width: 49%;
    display: inline-block;
    vertical-align: top;
    margin: auto;
    margin-bottom: 20px;
    padding: 5px;
}

.is-selected{
  background-color: #ec1153;
}

.section{
    width: 100%;
    margin: 0 0 20px;
}

h3.job-title{
    font-size: 1.7em;
    font-weight: 300;
    padding: 10px;
    margin: 10px 0;
    border-bottom: solid 2px #ec1153;
}

h4.sub-title{
    font-weight: 300;
    color: #FFFFFF;
}

p.description{
    color: #FFFFFF;
}

.btn-group{
    width: 92%;
    margin-left: 4%;
}

label.btn{
    width: 50%;
}

.control{
    width: 100%;
    margin-top: 15px;
    text-align: center;
}

.dropzone{
    width: 100%;
    height: 180px;
    border: dashed 5px #CFCFCF;
}

#prediction-btn, #reset-btn{
    width: 45%;
    margin: 0 5px;
}

.prediction{
    background-color: #686868;
    padding: 10px;
}

#result, #accuracy{
    color: #FFFFFF;
    text-decoration: #FFFFFF;
}

label.btn.btn-info{
    background-color: rgb(71, 179, 255);
}

table{
    width: 100%;
}

th, td{
    width: 25%;
    color: #FEFEFE;
}

th{
    font-size: 0.9em;
}

td span{
    font-size: 1.4em;
    text-decoration-line: underline;
}

.preview_zone{
    margin-bottom: 20px;
    text-align: center;
}

.cam_result, .input_preview{
    width: 45%;
    height: 230px;
    display: inline-block;
    vertical-align: top;
    margin-bottom: 10px;
    background-color: #EFEFEF;
    text-align: center;
}

.result_img{
}

.copyright{
    text-align: center;
    margin-top: 10px;
    padding: 20px;
    background-color: #333333;
    color: #FFF;
}