<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/style.css">

    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <title>VNN</title>
  </head>
  <body>
    <header class="text-center">
      <a class="title" href="#">VNN</a>
    </header>
    <main>
      <div class="container">
        <div class="section">
          <!-- {% if username %}
            <p>Hello! {{username}}</p>
          {% endif %} -->
          <div class="box">
            <h3 class="job-title">1. Load trained model</h3>
            <div class="btn-group btn-group-toggle" data-toggle="buttons" id="use_model">
              <label class="btn btn-info">
                <input type="radio" name="model_select" id="use_vgg" value="vgg">VGG16
              </label>
              <label class="btn btn-light">
                <input type="radio" name="model_select" id="use_original" value="ori">Original model
              </label>
            </div>
            <input class="btn btn-default" type="file">
          </div>
          <div class="box">
            <h3 class="job-title">2. Input a image</h3>
            <form class="ajax_submit" action="/result">
              <input name="input_img" class="btn btn-default" type="file" accept="image/*" id="input_img" >
            </form>
            <div class="control">
              <button class="btn btn-danger" id="reset-btn" onclick="reset()">reset</button>
              <button class="btn btn-success" id="prediction-btn" onclick="prediction()">predict</button>
            </div>
          </div>
        </div>
        <div class="section">
          <h3 class="job-title">3. Visualized prediction result with Grad-cam</h3>
          <div class="preview_zone">
            <div class="input_preview">
              <canvas id="preview" width="250px" height="250px"></canvas>
            </div>
            <div class="cam_result">
              <img id="cam_img" class="result_img">
            </div>
          </div>
          <div class="prediction">
            <h4 class="sub-title">Prediction Result</h4>
            <table>
              <tr>
                <th>Image class: </th>
                <td><span id="result">-</span></td>
                <th>Accuracy: </th>
                <td><span id="accuracy">-</span></td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </main>
    <footer>
      <div class="copyright">© 2018-2019 snowsphere</div>
    </footer>
    <script src="../static/preview.js"></script>
    <script src="../static/app.js"></script>
  </body>
</html>