<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/style.css">

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <title>VNN</title>
  </head>
  <body>
    <header class="text-center">
      <a class="title" href="#">VNN</a>
    </header>
    <main>
      <div class="container">
        <div class="box">
          <canvas id="preview" width="250px" height="250px"></canvas>
          <canvas id="preview_" width="250px" height="250px"></canvas>
          <img id="preview" src="" width="300px">
          <div class="controllArea">
            <input class="btn btn-default" type="file" accept="image/*" id="upload">
            <button class="btn btn-warning disabled" id="prediction-btn" onclick="prediction()">predict</button>
            <button class="btn btn-warning" id="reset-btn" onclick="reset()">reset</button>
          </div>
        </div>
        <div class="box">
          <table class="table">
            <thead>
              <tr>
                <th>Number</th>
                <th>Accracy</th>
              </tr>
            </thead>
            <tbody id="numacc">
              <tr>
                <th>0</th>
                <td class="accuracy" data-row-index="0">-</td>
              </tr>
              <tr>
                <th>1</th>
                <td class="accuracy" data-row-index="1">-</td>
              </tr>
              <tr>
                <th>2</th>
                <td class="accuracy" data-row-index="2">-</td>
              </tr>
              <tr>
                <th>3</th>
                <td class="accuracy" data-row-index="3">-</td>
              </tr>
              <tr>
                <th>4</th>
                <td class="accuracy" data-row-index="4">-</td>
              </tr>
              <tr>
                <th>5</th>
                <td class="accuracy" data-row-index="5">-</td>
              </tr>
              <tr>
                <th>6</th>
                <td class="accuracy" data-row-index="6">-</td>
              </tr>
              <tr>
                <th>7</th>
                <td class="accuracy" data-row-index="7">-</td>
              </tr>
              <tr>
                <th>8</th>
                <td class="accuracy" data-row-index="8">-</td>
              </tr>
              <tr>
                <th>9</th>
                <td class="accuracy" data-row-index="9">-</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </main>
    <footer>
    </footer>
    <script src="../static/preview.js"></script>
    <!-- Load TensorFlow.js -->
    <script src="https://cdn.jsdelivr.net/npm/@tensorflow/tfjs@0.13.0"> </script>
    <script src="../static/test.js"></script>
  </body>
</html>